.hero__left {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 2px 9px 0px #0000000e;
  height: 50px;
}

.hero__left__input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.hero__left__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #848484;
}

.hero__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1200px; */
}

.hero__right__select {
  width: 200px;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 9px 0px #0000000e;
  /* background-color: white; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* color: #111517; */
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='20,50 70,100 120,50' stroke='%23111517' stroke-width='20' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px;
  cursor: pointer;
  outline: none;
}

.hero__left__img {
  width: 16px;
  height: 18px;
  margin-left: 16px;
}

@media (max-width: 450px) {
  .hero__top {
    flex-direction: column;
    align-items: normal;
    gap: 40px;
  }
}
