@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .container {
    max-width: 850px;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 390px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 350px;
  }
}
